body {
    scroll-behaviour: smooth;
}

.hide-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0 !important;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
